<section class="navegacion">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active"type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"  aria-current="page">
                <i class="fa-solid fa-bars-staggered"></i>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/menu">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-pen-to-square"></i> </a>
           
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
      </ul>

</section>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h1>Clinix</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label=""></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/menu">
                    <span>Menú Principal</span>
                </a>
            </li>
            <!-- Pacientes -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Pacientes</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/registroPacientes" class="dropdown-item">
                        Registrar Pacientes
                        </a>
                    </li>
                    <li>
                        <a href="/mostrarPacientes" class="dropdown-item">
                        Mostrar Pacientes
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Citas -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Citas</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/gestionarCitas" class="dropdown-item">
                        Registrar Citas
                        </a>
                    </li>
                    <li>
                        <a href="/reporteCitas" class="dropdown-item">
                        Reporte Citas
                        </a>
                    </li>
                    <li>
                        <a href="/mostrarCitas" class="dropdown-item">
                        Mostrar Citas
                        </a>
                    </li>
                    <li>
                        <a href="/reporteCitasCR" class="dropdown-item">
                        Reporte Citas Canceladas
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Inventario -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Inventario</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/registroInventario" class="dropdown-item">
                        Registrar Inventario
                        </a>
                    </li>
                    <li>
                        <a href="/reportesInventario" class="dropdown-item">
                        Reporte Inventario
                        </a>
                    </li>
                    <li>
                        <a href="/reporteProductosStock" class="dropdown-item">
                        Reporte Inventario Bajo
                        </a>
                    </li>
                    <li>
                        <a href="/mostrarInventario" class="dropdown-item">
                        Mostrar Inventario
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Finanzas -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Finanzas</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/reportesIngresos" class="dropdown-item">
                        Reporte Ingresos
                        </a>
                    </li>
                    <li>
                        <a href="/mostrarEgresos" class="dropdown-item">
                        Mostrar Egresos
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Administracion -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Administracion</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/registrarMedicos" class="dropdown-item">
                        Registrar Medicos
                        </a>
                    </li>
                </ul>
            </li>

        
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </li>
            
        </ul>

        <img src="images/LogoFinal.png" alt="">

    </div>
</div>
