<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- FontAwesome para íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="styles/menu.css">
</head>
<body>
    <main>

        <%- include('partials/navegacion') %>

        
        <section class="contenido">

            <section class="bienvenida">
                
                <div class="info">
                    <div class="text-start">
                        <h1>Benvenido a Clinix</h1>
                        <p>Sistema de gestion de datos clinico</p>
                    </div>
                    
                </div>

            </section>

            <section class="gestiones">
                <h1>Registros de datos</h1>
                <p>Selecciona la acción que deseas realizar</p>

                <button type="button" class="btn btn-success">Registrar Pacientes</button>
                <button type="button" class="btn btn-success">Registrar Inventario</button>
                <button type="button" class="btn btn-success">Registrar Citas</button>
                <button type="button" class="btn btn-success">Registrar Egresos</button>
            </section>

            <section class="reportes">
                <h1>Reportes</h1>
                <p>Selecciona el reporte que deseas visualizar</p>
                <button type="button" class="btn btn-success">Reporte Inventario</button>
                <button type="button" class="btn btn-success">Reporte Citas</button>
                <button type="button" class="btn btn-success">Reporte Ingresos</button>
                <button type="button" class="btn btn-success">Reprote Citas Canceladas</button>
                <button type="button" class="btn btn-success">Reporte Inventario bajo</button>

            </section>


        </section>


    </main>
    <%- include('partials/footer') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../public/js/slidebar.js"></script>
    
    
</body>
</html>