@import url(main.css);

main{
    align-items: center;
    display: flex;

    background: url(../images/fondoHospital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario{
    background-color: rgba(0, 0, 0, 0.477);
    backdrop-filter: blur(10px);
    color: white;
}