
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
}

main{
    font-family: "Mulish", serif;
    font-weight: 800;
    background-color: rgb(243, 243, 243);
    min-height: 90vh;
}

footer{
    background-color: #343a40;
    color: white;
    padding: 1%;
}
footer .col a{
    display: block;
}


.navegacion{
    width: 50px;
    position: fixed;
    height: 100%;
    background-color: #6B8E75;
}
.navegacion button{
    color: white;
}
.navegacion a, .offcanvas a{
    color: white;
}
.navegacion .dropdown-menu a, .offcanvas .dropdown-menu a{
    color: black;
}
.offcanvas{
    background-color: #6B8E75;
    color: white;
}
.offcanvas img{
    height: 100px;
    width: 100px;
}
.contenido{
    width: 100%;
    padding-left: 50px;
}
.bloque-flex{
    display: flex;
    align-items: center;
    min-height: 90vh;
}