@import url(main.css);



.formulario .bloque{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.formulario .bloque-uno{
    width: 49%;
}
.formulario .bloque-dos{
    width: 49%;
}

.contenido .opciones{
    display: flex;
}

.contenido .opciones button{
    width: 20% !important;
    margin-right: 2%;
}